################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/obj
/Datos.Contratos/obj
/Datos.Dapper/obj
/Negocio.Contratos/obj
/Negocio.General/obj
/Presentacion.WPF/bin/Debug/netcoreapp3.1
/Presentacion.WPF/obj
/Transversales.Modelos/bin/Debug/netcoreapp3.1
/Transversales.Modelos/obj
/Transversales.Utilitarios/obj
/Datos.Contratos/bin/Debug/netcoreapp3.1
/Datos.Dapper/bin/Debug/netcoreapp3.1
/Negocio.Contratos/bin/Debug/netcoreapp3.1
/Negocio.General/bin/Debug/netcoreapp3.1
/Transversales.Utilitarios/bin/Debug/netcoreapp3.1
